.navbar-default{
  background-color: #3b5051 !important;

  border-color: #384849 !important;
}
.navbar-nav>li>a{
  color: #fff !important;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
.navbar-brand{
  color: #fff !important;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
}
.landing{
  height: 100vh;
  /*margin-top: -50px;*/
  /*font-family: 'Indie Flower', cursive;*/
  /*font-family: 'Monoton', cursive;*/
  /*background-image: url("https://source.unsplash.com/random/1600x900");*/
  background-image:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/prof.jpg");
    /*url("https://source.unsplash.com/random/1600x900");*/
  background-size: cover;
  background-attachment: fixed;
}
/*.landing #navbar {
  display: none !important;
}*/
.avatar{
  border: solid black;
}
footer{
  background-color: #3b5051;
  color: #fff;
  text-align: center;

}
ul li{
  display: inline;
  background-color: #3b5051;
  border: 200px;
  color: #fff;
  padding: 5px;
}
h5{
  font-family: 'Poppins', sans-serif;
  padding-bottom: 30px;
}
#works{
  height: 100vh;

}
#about{
  height: 100vh;
  padding-top: 118px;
}
body {
  height: 100vh;
}
p{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
#back{
  padding-left: 90px;

}
